<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Read file succesfull?</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
    <p th:text="'File read: ' + ${fileToRead.file}" />
    <a href="/findTestFunctions?tag=vasheet">Does the file(s) read, have a testfunction with the label: vasheet ?</a><br></br>
    <a href="/readfile">Submit another file</a>
</body>
</html>
